<div class="row">
  <div class="col-md-7 col-md-offset-1 pull-left">
    <%= render partial: 'layouts/user_settings_menu' %>

    <% if @deleted != nil %>
    <% @deleted.each do |article| %>
    <div class="article">
      <div class="avatar"><%= image_tag article.user.user_profile.avatar.url %></div>
      <div class="user-details">
        <p><%= link_to article.user.username.capitalize, current_user %> in 
          <% article.categories.take(2).each do |category| %>
          <%= link_to category.name, category_path(category) %>
          <% end %>
        </p>
        <p class="sub"><%= article.published_on.strftime("%b %d") if article.published_on? %>
        </p>
      </div>
      <h2><%= article.title %></h2>
      <p class="excerpt"><%= truncate(article.body, :length => 200) %></p>
      <%= image_tag article.featured_image.url if article.featured_image? %>
    </div>
    <% end %>
    <% end %>

  </div>


</div>